	
#Welcome_User {
	
	text-align: right; 
	font-size: 20px
}

.wishlist-header {
	
	text-align: center;
	color:#45bf65; 
}
.exchanges-header {
	
	text-align: center;
	color:#45bf65; 
}

#create-exchange{
	
	float: right;
}

body{
background-color: black;
color:#45bf65; 
}
textarea{
    width:45%;
    padding: 12px;
    resize: vertical;
}
label{
    padding: 3px 3px 3px;
    display: inline-block;
}
